.mobile-navbar {
    position: fixed;
    top: 0;
    right: 0;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: all .4s;
    background: rgba(0, 0, 0, 0.7);
}

@supports (backdrop-filter: blur(1rem)) {
    .mobile-navbar {
        background:  rgba(22, 21, 21, 0.8);
        backdrop-filter: blur(1rem)
    }
}

.mobile-navbar.show {
    transform: translateX(0); 
}

.mobile-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2.5rem 3rem;
}

.mobile-header i {
    font-size: 2.8rem;
    color: var(--beige-900);
}

.mobile-cart {
    text-align: center;
    margin-top: 5rem;
    color: var(--beige-900);
}

.mobile-cart .fa-bag-shopping {
    font-size: 5rem;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5rem;
    color: var(--light-color);
    margin-top: 15rem;
}

.mobile-menu-list li {
    font-size: 2rem;
    padding: .5rem 5rem;
}

.mobile-menu-list i {
    padding-right: 1rem;
}

.profile-and-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10rem;
}